<section class="definition">
	<div class="def-intro">
		{{page.def-intro}}
	</div>
	<div class="def-problem">
		{{page.def-problem}}
	</div>
	<div class="def-approach">
		{{page.def-approach}}
	</div>
</section>
<section class="research">
	<div class="research-background">
		{{page.research-background}}
	</div>
	<div class="research-questions">
		{{page.research-questions}}
	</div>
	<div class="research-answers">
		{{page.research-answers}}
	</div>
	<div class="research-synthesis">
		{{page.research-synthesis}}
	</div>
	<div class="research-prototypes">
		{{page.research-prototypes}}
	</div>
</section>
<section class="testing">
	<div class="testing-tests">
		{{page.testing-tests}}
	</div>
	<div class="testing-results">
		{{page.testing-results}}
	</div>
	<div class="testing-analysis">
		{{page.testing-analysis}}
	</div>
	<div class="testing-refinement">
		{{page.testing-refinement}}
	</div>
	<div class="testing-final-design">
		{{page.testing-final-design}}
	</div>
</section>
<section class="finale">
	<div class="finale-tests">
		{{page.finale-tests}}
	</div>
	<div class="finale-results">
		{{page.finale-results}}
	</div>
	<div class="finale-reflection">
		{{page.finale-reflection}}
	</div>
</section>
{% include components/molecules/contact-template.html %}