/* Custom SCSS */
/* molecules  */
body{
	font-family: $base-font-family;
	color:$dark-blue;
}
.color-orange{
	color: $orange;
}
blockquote, q{
	quotes: "\201C""\201D""\2018""\2019";
	// @include omega();
}
a, a:visited, a:focus, a:active{
	font-weight: bold;
	font-family: $title-font-family;
	color:$dark-blue;
	font-size: 24px;
	text-decoration: none;;
	&:hover{
		color: $orange;
		-webkit-transition: color .2s;
		transition: color .2s;
	}
	&.site-title{
		font-size: 36px;
		font-weight:700;
		@include span-columns(3);
		@include shift(1);
	}
	&.button-main{
		background-color: $light-blue;
		padding:18px;
		margin-left: 18px;
		margin-right: 18px;
		// display block to make responsive buttons
	}
}

.post-title{
	font-size: 54px;
	line-height: 4;

}
.wrapper{
	@include outer-container; 
}
/* organisms */
.site-header{
	vertical-align: middle;
	background-color: $med-light-blue;
	line-height: 102.4px;
	.site-nav{
		.trigger{
			@include span-columns(6);
			@include shift(1);
			display: flex;
			justify-content: space-between;
			a{
				display: inline-block;
			}
		}
	}
}

.quote-hero{	
	position: relative;
	text-align: center;	
	font-size: 36px;
	padding-top: 36px;
	padding-bottom: 36px;
	@include shift(2);
	@include span-columns(8);	
	background-color: #EEF0FF;
	margin-top: 108px;
	@include omega();
	&:before{
		font-size: 72px;
		position: absolute;	
		top: -18px;
		left: -9px;
		content: open-quote;

	}
}
.quote-attr{
	line-height: 2;
	@include shift(4.5);
	@include span-columns(5);
	text-align: right;	
	font-size: 26px;
	@include omega();
}

.cta-row{
	text-align: center;
	@include span-columns(6);
	@include shift(3);
	margin-top: 26px*3;
	display: inline-block;
	line-height: 2;
	a{

	}

}
ol.top-5{
	position: relative;
    list-style-type: none;
    padding-left: 36px;
    counter-reset:item 6;
    li{
    	margin-top: 18px;
    	margin-bottom: 54px;
    	padding-bottom: 18px;
    	counter-increment:item -1;
    	margin-left: -18px;
    	display: inline-block;
    	width: 100%;
    	&:before{
    		margin-top: -18px;
    		content: counter(item);
			position: absolute;
			left: 0;
			padding: 3px 8px;
			font-size: 36px;
			font-weight: bold;
    	}
    	h2{
    		padding-bottom: 36px;
    		padding-left: 36px;
	    	padding-top: 36px;
    		font-size: 36px;
    		line-height: 1.5;
    		background-color: $light-blue;
    	}
    	.right{
    		text-align: center;
    		@include shift(.5);
    		@include span-columns(5);
    		@include omega();
			img{
				position: relative;
				top: -36px;
				width: 100%;
    		}
    		a{
    			background-color: $light-blue;
    			padding: 27px;
    			width: 100%;
				display: inline-block;
    			text-align: center;

    		}
    	}
    	.left{
    		@include shift(.5);
    		@include span-columns(5);
    		p{
    			font-size: 21px;
				margin-top: 21px;
				line-height: 1.5;
    		}
    	}
    }
}